[Unit]
Description=CAS Proxy Server
After=network.target

[Service]
ExecStart=/usr/local/bin/casproxyserver
Restart=always
User=root
Group=root
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target